@import url("__container/comments__container.css");
@import url("__content-subtitle/comments__content-subtitle.css");
@import url("__content-title/comments__content-title.css");
.comments {
  display: block;
}
@media screen and (max-width: 768px) {
  .page .comments {
    max-width: calc(100% - (2 * 54px));
  }
}
@media screen and (max-width: 375px) {
  .page .comments {
    max-width: calc(100% - (2 * 16px));
  }
}
