.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 102px;
  position: relative;
  width: 100%;
  height: 594px;
  background-image: url("../../../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  z-index: 5;
}
.cover__link:hover::before {
  content: "";
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .cover__link {
    height: 500px;
  }
}
@media screen and (max-width: 680px) {
  .cover__link {
    height: 370px;
  }
}
@media screen and (max-width: 375px) {
  .cover__link {
    max-width: 375px;
    height: 272px;
  }
}
