.place__image {
  margin-top: 60px;
  width: 100%;
}
@media screen and (max-width: 760px) {
  .place {
    padding: 5%;
  }
}
@media screen and (max-width: 500px) {
  .place {
    padding: 0;
  }
}
@media screen and (max-width: 375px) {
  .page .places {
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .place__image {
    margin-top: 32px;
  }
}
