@import url("comment/comment.css");
.comments__container {
  margin: 72px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .comments__container {
    flex-direction: column;
  }
}
