@import url("__langs/header__langs.css");
@import url("__links/header__links.css");
@import url("__lang/header__lang.css");
@import url("__lang/_active/header__lang_active.css");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
}
@media screen and (max-width: 720px) {
  .header {
    padding-top: 16px;
  }
}
