@import url("_kamchatka/video__item_kamchatka.css");
@import url("_observatory/video__item_observatory.css");
.video__item {
  display: block;
  width: 100%;
  max-width: 583px;
  height: 323px;
  position: relative;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video__item:hover::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
.video__item + .video__item {
  margin-left: 18px;
}
@media screen and (max-width: 1024px) {
  .video__item {
    height: 288px;
  }
}
@media screen and (max-width: 768px) {
  .video__item {
    height: 200px;
  }
}
@media screen and (max-width: 720px) {
  .video__item + .video__item {
    margin-left: 0;
    margin-top: 8px;
  }
}
