.video__duration {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  position: absolute;
  top: 165px;
  left: 30px;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .video__duration {
    top: 125px;
  }
}
@media screen and (max-width: 768px) {
  .video__duration {
    top: 82px;
  }
}
