.video__icon {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  background-image: url("../../../images/__icon_play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 41px;
  height: 41px;
}
@media screen and (max-width: 768px) {
  .video__icon {
    width: 42.71px;
    height: 42.71px;
    top: 24px;
    left: 24px;
  }
}
