.place__paragraph {
  width: 100%;
  margin: 60px 0 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (max-width: 940px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
  }
}
@media screen and (max-width: 375px) {
  .place__paragraph {
    margin-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
