.place__column {
  margin: 0 40px 0 0;
  flex-basis: 50%;
  max-width: 460px;
}
@media screen and (max-width: 1024px) {
  .place__column {
    margin-right: 32px;
  }
}

@media screen and (max-width: 760px) {
  .place__column {
    max-width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 375px) {
  .place__column {
    max-width: 100%;
    margin-right: 0;
  }
}
