.intro__discr {
  max-width: 683px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
@media screen and (max-width: 720px) {
  .intro__discr {
    font-size: 16px;
    line-height: 27px;
  }
}
