.video__subtitle {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .video__subtitle {
    bottom: 35px;
  }
}
@media screen and (max-width: 768px) {
  .video__subtitle {
    bottom: 24px;
  }
}
