.intro__content-column {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
@media screen and (max-width: 720px) {
  .intro__content-column {
    font-size: 16px;
    line-height: 27px;
    margin-top: 32px;
  }
}
