.cover__title {
  margin-bottom: 134px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #fff;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 570px;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 680px) {
  .cover__title {
    max-width: 570px;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 375px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 7px;
  }
}
