.intro__subtexts {
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
}
@media screen and (max-width: 720px) {
  .intro__subtexts {
    font-size: 12px;
    line-height: 19px;
    margin-top: 32px;
  }
}
