/* .place__url {
  margin: 0 0 60px 0;
}
@media screen and (max-width: 1024px) {
  .place__url {
    margin-top: 40px;
  }
} */
@media screen and (max-width: 375px) {
  .place__url {
    display: none;
  }
}
